<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!-- General -->
  <category label="Main">
    <setting label="Install Context Menu Mod" type="action" action="RunScript(script.module.sharesocial,install_skin_mod)"/>
    <setting label="Undo Context Menu Mod" type="action" action="RunScript(script.module.sharesocial,undo_skin_mod)"/>
  </category>
</settings>
